/*Keyframe*/
@keyframes texthead{
    from{color:black;}
    to{color:white;}
}

@keyframes imagePopin{
    from{opacity: 0;}
    to{opacity: 1;}
}

/*Fontface*/
@font-face {
    font-family: 'Baloo';
    src: url(Assets/Fonts/baloo/Baloo-Regular.ttf);
}
@font-face{
    font-family: 'ostrichsans';
    src: url(Assets/Fonts/ostrich-sans-master/OstrichSans-Bold.otf)
}
@font-face{
    font-family: 'signika';
    src: url(Assets/Fonts/Signika/Signika-VariableFont_GRAD\,wght.ttf)
}

@font-face{
    font-family: 'poppins-black';
    src: url(Assets/Fonts/Poppins/Poppins-Black.ttf)
}
@font-face{
    font-family: 'poppins-reg';
    src: url(Assets/Fonts/Poppins/Poppins-Regular.ttf)
}


/*Elements*/
html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}
body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    width: 100%;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 600%;
    text-align: center;
    font-family: "ostrichsans";
}

h2{
    font-size: 500%;
    padding-left: 2%;
    font-family: "ostrichsans";
    color: white;
    padding-bottom: 0;
    margin: 0;
}
h3{
    font-family: 'poppins-black';
    color: white;

}
h4{
    font-family: 'poppins-reg';
    margin: 0;
    padding: 0;
    color: white;
}

footer{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: gray;
}

/*Classes*/
.indexHeader{
    margin: 0;
    color: black;
    font-size: 800%;
    font-family: "ostrichsans";
    animation-name: texthead;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.duelContainer{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    gap: 10%;
    margin-top: 15%;
}

.rightcontainer{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: imagePopin;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 1s;

}

.leftcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: texthead;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    height: 70%;
    width: 40%;
}

.leftcontainer2{
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
}
.rightcontainer2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    row-gap: 3%;
}

.duelContainer2{
    display: flex;
    width: 100%;
    height: 30%;
}

.meImage{
    height: 100%;
    border-radius: 10px;
}



.nav-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100%;
}

.nav-content a{
    color: white;
    display: flex;
    font-family: 'poppins-black';
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    align-items: center;
    height: 15%;
    width: 100%;
    font-size: 50px;

}

.nav-content a:hover{
    background-color: gray;
}

.navplusHeader{
    height: 15%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: black;
}

.closebutton{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 60px;
    color: white;
    rotate: 90deg;
}


.aboutparagraphs{
    font-family: 'poppins-reg';
    
}

.edulist{
    color: white;
    list-style: none;
    font-family: 'poppins-reg';
    text-align: center;
}

.uogImages{
    width: 25%;
    height: 70%;
}

.dueljobContainer{
    display: flex;
    width: 100%;
    height: 30%;
}

.jobcontainer{
    padding-left: 1%;
    width: 60%;
    height: 100%;
    text-align: left;
}

.jobimage{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    padding-top: 2%;
}

.dates{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.title{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 0;
}

.titlecontainer{
    display: flex;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: white;
    width: 100%;
}

.titleandlocation{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.joblist{
    color: white;
    font-family: 'poppins-reg';
}

.logo{
    text-align: center;
    height: 50%;
    justify-content: center;
   
}

.footerlinks{
    color: black;
    font-family: 'poppins-black';
    text-decoration: underline;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 1;
}

/*ID*/
#navbar{
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}
